<div class="container">
    <div class="row">
        <h1>New User Form</h1>
    </div>
    <div class="row">
        <%if flash[:notice] %>
            <% flash[:notice].each do |notice| %>
                <p><%= notice %></p>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <form action="<%= users_path %>" method='POST'>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <label for="user[username]">Username: </label>
            <input type="text" name="user[username]" id="user_username">
            <button type='submit'>Sign In</button>
        </form>
    </div>
</div>