<h1>Edit <%= @user.name %>'s profile</h1>
<form action="/users/<%= @user.id %>/update">
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type="hidden" name='_method' value='patch'>
    <label for="name">Name: </label>
    <input type="text" name='name' value='<%= @user.name %>'>
    <button type='submit'>Submit</button>
</form>