<form action="/pets" method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type="text" name='pet[name]' placeholder='name'>
    <input type="text" name='pet[color]' placeholder='color'>
    <input type="submit" value='Create'>
</form>