<div class="container">
    <div class="row">
        <div class="col">
            <h2>CodingDojo Wall</h2>
        </div>
        <div class="col">
            <h1>Welcome <%= @user.username %></h1>
            <a href="#">Log Out</a>
        </div>
    </div>
</div>
